@import url("https://fonts.googleapis.com/css?family=Heebo:300&display=swap");

:root {
  --primary-color: #000;
  --secondary-color: #fff;
}

/* 主题颜色的过渡效果 */
html {
  transition: all 0.5s ease-in;
}
html.dark {
  --primary-color: #fff;
  --secondary-color: #333;
}

html.dark {
  background-color: #111;
  color: var(--primary-color);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Heebo", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.toggle {
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 0;
  border-radius: 4px;
  padding: 8px 12px;
  position: absolute;
  top: 100px;
}

.toggle:focus {
  outline: none;
}

.clock-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* 钟表 */
.clock {
  width: 200px;
  height: 200px;
  position: relative;
}

/* 指针需要相对钟表来定位 */
.needle {
  width: 3px;
  height: 65px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--primary-color);

  /* 因为指针向上移动了，所以旋转原点变了，不是 top left */
  /* transform-origin: ; */
  transform-origin: top left;
}

/* 把指针移动到对应位置，以中心为点 */
.needle.hour {
  /* transform: translate(-50%, -100%); */
  transform: rotate(30deg);
}

.needle.minute {
  transform: rotate(60deg);
  height: 100px;
}

.needle.second {
  transform: rotate(90deg);
  height: 100px;
  background-color: #e74c3c;
}

.center-point {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e74c3c;
}
.center-point::after {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--primary-color);
}

.time {
  font-size: 60px;
}

.date {
  color: #aaa;
  font-size: 14px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.date .circle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  font-size: 12px;
  background-color: var(--primary-color);
  columns: var(--secondary-color);
}
