@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --left-bg-color: rgba(87, 84, 236, 0.7);
  --right-bg-color: rgba(43, 43, 43, 0.8);
  --left-btn-hover-color: rgba(87, 84, 236, 1);
  --right-btn-hover-color: rgba(28, 122, 28, 1);
  --hover-width: 75%;
  --other-width: 25%;
  --speed: 1000ms;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "roboto", sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  display: flex;
  max-width: 100vw;
  width: 100vw;
  height: 100vh;
}

.split {
  width: 50%;
  position: relative;
  transition: all var(--speed) ease-in-out;
  overflow: hidden;
}
.left {
  background: url("./imgs/ps.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.left::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--left-bg-color);
}

.right {
  position: relative;
  background: url("./imgs/xbox.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.right::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--right-bg-color);
}

.hover-left .left {
  width: var(--hover-width);
}
.hover-left .right {
  width: var(--other-width);
}

.hover-right .right {
  width: var(--hover-width);
}
.hover-right .left {
  width: var(--other-width);
}

.title {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  white-space: nowrap;
  color: #fff;
  font-size: 4rem;
}
.btn {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translateX(-50%);
  text-decoration: none;
  color: #fff;
  border: #fff solid 0.2rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  width: 15rem;
  padding: 1.5rem;
  background-color: transparent;
}

.left .btn:hover {
  background-color: var(--left-btn-hover-color);
  border-color: var(--left-btn-hover-color);
}

.right .btn:hover {
  background-color: var(--right-btn-hover-color);
  border-color: var(--right-btn-hover-color);
}

@media (max-width: 800px) {
  .title {
    font-size: 2rem;
    top: 30%;
  }

  .btn {
    padding: 1.2rem;
    width: 12rem;
  }
}
